*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 100;
  background-color: rgb(26, 26, 26);
  color: white;
}

.text-center {
  text-align: center;
}

.primary-button {
  font-family: Montserrat, sans-serif;
  padding: 0.66rem;
  width: 50%;
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: 2px solid white;
  background-color: #1A1A1A;
  margin: 0 auto;
  transition: ease-in-out 100ms;
  cursor: pointer;
  margin-top: 1rem;
}

.primary-button:hover {
  background-color: white;
  border: 2px solid #1A1A1A;
  color: #1A1A1A;
}